
body{
	margin: 50px 15% 50px 15%;
	background-color:#2bbbb4;
	font-family:"josefin sans", sans-serif;
	color:#ffffff;
}


video{
	max-width:100%;
	height: auto;
	float: left;
	margin:0 15px 15px 0 ;

}




  
